
<html>
<head>
<style>
      h1{
          text-align: center;
          font-size: 72px;
      }

      #email1{
          text-align: center;
          padding: 100px;
          scale: 1.5;
          border: 2px solid rgb(238, 43, 8);
      }
</style>

<title>Web Interface</title>
</head>
<body>


<h1>Subscribe to our newsletter</h1>

<!--one-form-->
<div id="email1">
    <form method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="example@gmail.com"><br><br>
        <button type="submit" name="submit" value="subscribe" onclick="alert('Thank you for subscribing')">Subscribe</button>
		<button type="submit" name="submit" value="unsubscribe" onclick="alert('We are sad to see you go')">Unsubscribe</button>
    </form>
</div>


</body>
</html> 